# Auto detect text files and perform LF normalization
*           text=auto

*.fs        text eol=crlf diff=fsharp
*.fsi       text eol=crlf diff=fsharp
*.fsx       text eol=crlf diff=fsharp
*.fsproj    text eol=crlf merge=union
*.sln       text eol=crlf merge=union
